/app/config/parameters.yml
/build/
/composer.phar
/vendor/
/web/bundles/
/var/cache
/var/logs
/var/sessions
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml
/.idea
/web/uploads/
/web/media/
/deploy/
/features/
